td.w20 {
    text-indent: 70px;
}
select.form-control.w50 {
    margin-right: 40px;
}
input[type=radio], input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: 5px;
    cursor: pointer;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight:normal;
    margin-right: 15px;
    cursor: pointer;
}
.checked {
    color: #0D0;
}
.currpower{
    padding: 15px;
    color: #09C;
    padding-bottom:0;
}
#table{
    color: #666;
    margin-left: 26px;
}
.module{
    color: #09C;
}
#table tr td{
    width: 130px;
    height:30px;
    text-align: center;
}
#table tr td i{
    font-size: 22px;
}
i.fa.fa-check-circle {
    color: green;
}
i.fa.fa-minus-circle {
    color: red;
}
i.fa.fa-star {
    color: #09C;
}